<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="front-box">
    <img class="front-image" src="/images/vehicles/delorean.jpg" alt="A Delorean form the movie back to the future">
    <div class="front-text-box">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href="/">Own Today</a>
    </div>
</div>

<div class="split-region">
    <div class="split-item split-item-one reviews">
        <h1>DMC Delorean Reviews</h1>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="split-item split-item-two delorean-upgrades">
        <h1>Delorean Upgrades</h1>
        <div class="upgrade-row">
            <div class="upgrade-item">
                <div class="boxed-item">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux capacitor">
                </div>
                <a href="/shop/flux_capacitor">Flux Capacitor</a>
            </div>
            <div class="upgrade-item">
                <div class="boxed-item">
                    <img src="/images/upgrades/flame.jpg" alt="Flame">
                </div>
                <a href="/shop/flame_decals">Flame Decals</a>
            </div>
        </div>
        <div class="upgrade-row">
            <div class="upgrade-item">
                <div class="boxed-item">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="A hello world bumper sticker">
                </div>
                <a href="/shop/bumper_stickers">Bumper Stickers</a>
            </div>
            <div class="upgrade-item">
                <div class="boxed-item">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Standard hub cap">
                </div>
                <a href="/shop/hub_caps">Hub Caps</a>
            </div>
        </div>
    </div>
</div>
