form {
    background-color: rgb(243, 177, 127);
    border-radius: 15px;
    padding: 20px;
    min-width: 300px;
    max-width: 75%;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form span {
    display: block;
    font-style: italic;
    margin-bottom: 5px;
    color:rgb(145, 0, 0)
}

form p {
    text-align: center;
}

form input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:required:invalid, input:focus:invalid {
    color: red;
}

input:required:valid {
    color: black;
}

.notice {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

.notice li {
    margin-bottom: 5px;
    margin-left: 15px;
}