#inv-display {
    display: flex;
    gap: 20px;
    padding: 10px;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    flex-direction: column;
}

#inv-display li {
    background-color: #E4801D;
    padding: 10px;
    border-radius: 5px 25px 5px 25px;
    display: flex;
    flex-direction: column;
}

#inv-display li a {
    text-decoration: none;
    color: #1E3A5A;
    display: block;
    margin: auto;
}

#inv-display li a:hover {
    color: #4B79B6;
}

#inv-display li a img {
    display: block;
    margin: auto;
    max-height: 100px;
    max-width: 100%;
    object-fit: contain;
}

.namePrice {
    text-align: center;
    margin-top: 10px;
}

.namePrice span {
    display: block;
    font-size: 20px;
}

#inv-display hr {
    border: 0;
    height: 1px;
    margin: 10px auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* Media Query for Larger Screens */
@media screen and (min-width: 801px) {
    #inv-display {
        display: grid;
    }
}